.div {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
  
  .input {
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 165px;
    margin-left: 95px;
    margin-top: 15px;
  }

  .label {
    margin-left: 20px;
  }