.div {
  display: flex;
  flex-direction: column;
  
}
.li {
  display: flex;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 10px;
  width: 260px;
  margin-right: 10px;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  }

.btn {
  cursor: pointer;
  min-width: 60px;
  height: 30px;
  border: none;
  border-radius: 8px;
  background-color: white;
  color: black;
  margin-right: 20px;
  }